<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="email"
        label="Sähköposti:"
        placeholder="email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="password"
        [(ngModel)]="password"
        label="Salasana:"
        placeholder="password"
      ></ion-input>
    </ion-item>
  </ion-list>
  <br />
  <ion-button
    class="center-button"
    shape="round"
    fill="outline"
    color="success"
    (click)="signIn()"
    >Login</ion-button
  >
  <br />
  <ion-button
    class="center-button"
    shape="round"
    fill="outline"
    color="success"
    (click)="loginGoogle()"
    >Log in with Google</ion-button
  >
</ion-content>
